@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  color: rgb(53, 53, 53);
}
h3,
h4 {
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.app {
  transition: 0.5s ease all;
}
.app.library-open {
  margin-left: 30vw;
}

@import "./song";
@import "./player";
@import "./library";
@import "./librarySong";
@import "./nav";
@import "./queries";
