nav {
  min-height: 10vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    z-index: 10;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    transition: 0.3s ease;
    border: 2px solid rgb(65, 65, 65);
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}
